WEBPASSWORD={{ pihole.setupVars.webpassword | hash('sha256') | hash('sha256') }}
{# DNSMASQ_LISTENING #}
{# If this Pi-Hole is used as DNS server for devices via Tailscale,
listening needs to be allowed from all origins, otherwise traffic
from your Tailnet nodes cannot reach the Pi-Hole.
Allowed values and corresponding web-admin setting:
  local  = Listen on all interfaces
  single = Listen only on interface eth0
  all    = Listen on all interfaces, permit all origins #}
DNSMASQ_LISTENING={{ pihole.setupVars.listening | default("local") }}
DNSSEC={{ pihole.setupVars.dnssec | default("true") }}
PIHOLE_INTERFACE={{ pihole.setupVars.interface | default("eth0") }}
{# https://tedboy.github.io/jinja2/templ11.html#for #}
{% for dns_server in pihole.setupVars.dns_servers %}
PIHOLE_DNS_{{ loop.index }}={{ dns_server }}
{% endfor %}
QUERY_LOGGING={{ pihole.setupVars.query_logging | default("true") }}
INSTALL_WEB_SERVER={{ pihole.setupVars.install_web_server | default("true") }}
INSTALL_WEB_INTERFACE={{ pihole.setupVars.install_web_interface | default("true") }}
LIGHTTPD_ENABLED={{ pihole.setupVars.lighttpd_enabled | default("true") }}
BLOCKING_ENABLED={{ pihole.setupVars.blocking_enabled | default("true") }}
CACHE_SIZE={{ pihole.setupVars.cache_size | default("10000") }}
DNS_FQDN_REQUIRED={{ pihole.setupVars.dns_fqdn_required | default("true") }}
CONDITIONAL_FORWARDING_REVERSE={{ pihole.setupVars.conditional_forwarding_reverse | default() }}
DNS_BOGUS_PRIV={{ pihole.setupVars.dns_bogus_priv | default("true") }}
REV_SERVER={{ pihole.setupVars.rev_server | default("") }}
REV_SERVER_DOMAIN={{ pihole.setupVars.rev_server_domain | default("") }}
REV_SERVER_TARGET={{ pihole.setupVars.rev_server_target | default("") }}
REV_SERVER_CIDR={{ pihole.setupVars.rev_server_cidr | default("") }}
TEMPERATUREUNIT={{ pihole.setupVars.temperatureunit | default("C") }}
{# https://discourse.pi-hole.net/t/what-is-setupvars-conf-and-how-do-i-use-it/3533 #}
API_EXCLUDE_DOMAINS={{ pihole.setupVars.api_exclude_domains | default("") }}
API_EXCLUDE_CLIENTS={{ pihole.setupVars.api_exclude_clients | default("") }}
API_QUERY_LOG_SHOW={{ pihole.setupVars.api_query_log_show | default("all") }}
{# does privacy_mode depend on privacylevel? #}
API_PRIVACY_MODE={{ pihole.setupVars.api_privacy_mode | default("false") }}
